<div class="container module-container">
    <div class="icon">
        <img src="assets/images/logo.png" alt="">
    </div>
    
    <div class="content">
        <div class="content-button" [routerLink]="['snac']">
            <button mat-button>Regístrate</button>
        </div>
        <div class="content-button" [routerLink]="['auth']" >
            <button mat-button>Iniciar Sesión</button>
        </div>
        <div class="content-button">
            <button mat-button (click)="dialog()">Aprende a Usarlo</button>
        </div>
        <div class="content-button">
            <button mat-button (click)="showQuestion()">Preguntas más comunes</button>
        </div>
        <div class="content-button">
            <button (click)="openWhats()" mat-button><mat-icon svgIcon="logoWhats"></mat-icon> Contactar</button>
        </div>
    </div>
</div>