<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" [ngStyle]="{'font-family': 'MontserratBold'}">Subir Selfie</span>
        </div>
    </mat-toolbar>

    <div class="pl-15 pr-25 m-0" mat-dialog-content [ngClass]="{'loading': hubConnectionId === ''}">
        <div class="content-upload-file" fxLayout="column" fxLayoutAlign="center center">
            <p class="nota m-0 mb-12">Coloca tu cara dentro del cuadro y presiona el botón para tomar la foto.</p>
            <div class="content-video">
                <video id="video" playsinline></video>
                <span class="circle-face"></span>
            </div>

            <button class="mt-12" mat-button (click)="takePicture()" [disabled]="uploadingFile" [class.spinner]="uploadingFile">Tomar Foto</button>
            
            <canvas id="camera" ></canvas>
        </div>
    </div>
</div>