<div class="dialog-content-wrapper">
    <div class="pl-25 pr-25 m-0" mat-dialog-content>
        <h3>Muchas gracias por completar tu registro.<br>Estamos revisando tu información.<br>Si esta es correcta, en un lapso de máximo 48 horas deberás de recibir un correo al mail que nos indicaste con tu usuario y contraseña para que puedas iniciar sesión.</h3>
    </div>

    <div mat-dialog-actions class="m-0" fxLayoutAlign="center center">
        <div class="content-botton">
            <button mat-button [mat-dialog-close]="true">CONTINUAR</button>
        </div>
      </div>
</div>