<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" [ngStyle]="{'font-family': 'MontserratBold'}">Suba su estado de cuenta</span>
        </div>
    </mat-toolbar>

    <div class="pl-15 pr-25 m-0 mb-24" mat-dialog-content>

        <p>Procure que la hoja principal salga completa.</p>

        <ng-container *ngIf="loading">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </ng-container>
        
        <div [ngClass]="{'hide': loading}">
            <mat-select placeholder="Seleccione su banco" [(ngModel)]="institutionId">
                <mat-option *ngFor="let institution of institutions" [value]="institution.id">{{ institution.description }}</mat-option>
            </mat-select>
    
            <div class="content-upload-file" [ngClass]="{'hide': takePicker}">
                <div class="box-input" #boxInput>
                    <mat-icon svgIcon="logoUpload" class="icon-upload"></mat-icon>
                    <br>
                    <input type="file" class="input-file" id="file" accept=".jpg, .jpeg, .png, .pdf" #inputFile>
                    <label>Subir (formatos: jpg, jpeg, png, pdf)</label>
                </div>
    
                <div *ngIf="uploadingStatusAccount" class="loadingUpload">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
            </div>

            <div class="content-take-picker" [ngClass]="{'hide': !takePicker}">
                <p class="labelin m-0 mb-12">Asegúrate que toda la caratula de tu estado de cuenta este dentro del recuadro.</p>
                <div class="content-video">
                    <video id="video" playsinline></video>
                    <span class="circle-face"></span>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mt-12 btn" mat-button (click)="takePicture()">Tomar Foto</button>
                </div>
                
                <canvas id="camera" ></canvas>
            </div>
        </div>
    </div>
</div>