@import '../../../../core/scss/app';

app-table-pending-records {
    table {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #cacee6;

        tr {
            &:nth-child(even) {
                background-color: #f9f9f9;
            }
            
            td {
                padding-right: 12px !important;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.replay {
                            background-color: #caffca !important;
                        }
                        
                        &.rejection {
                            background-color: orange !important;
                        }
                        
                        &.lugaractive {
                            background-color: green !important;
                        }
                        
                        &.lugarnoactivo {
                            background-color: red !important;
                        }
                    }
                }
            }
        }

        .content-name {
            display: flex;
            align-items: center;
        }

        .element-action {
            .sub-table {
                td {
                    padding: 0;
                }
            }
        }
    }
}

.replay {
    background-color: #caffca !important;
}

.rejection {
    background-color: orange !important;
}

.lugaractive {
    background-color: green !important;
}

.lugarnoactivo {
    background-color: red !important;
}